@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.container-1{
    display: inline-block;
    text-align: center;
    padding-top: 22%;
    padding-left: 43%;
}
.head-1{
    font-size: 50px;
    color: rgb(25, 210, 223);
    border: 4px solid greenyellow;
    border-radius: 12px;
    width: 30vh;
    background-color: rgb(206, 218, 213);
    border-style: inset;
    font-family: 'Lato', sans-serif;
}
.container-1 a{
    text-decoration: none;
}
.head-1:hover{
    cursor: pointer;
    transition-duration: 1s;
    color: coral;
    border-radius: 8px;
    background-color: rgb(175, 86, 86);
    border-color: violet;


}